body {
	background-color: #979797;
	color: #fff;
	margin: 0;
	padding: 0;
}

.page {
	max-width: 640px;
	margin: 0 auto 30px auto;
}

.panel {
	background-color: #fff;
	color: #666;
	box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
	overflow: auto;
}

button {
	border: none;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.14em;
	font-size: 230%;
	line-height: 1em;
	text-decoration: none;
}
/* Typography */
/* TODO import fonts */
h1 {
	text-align: center;
}

h2 {
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.14em;
	font-size: 230%;
	line-height: 1em;
	padding: 20px 0 0 20px;
}

p {
	line-height: 1.4em;
}

a {
	text-decoration: none;
}

button {
	font-size: 90%;
	text-align: left;
	text-transform: uppercase;
}
/* Accordion*/

.accordion, .menu {
	background-color: #f2f2f2;
	color: #666;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.accordion li {
	padding: 0;
	list-style-type: none;
}

.accordion-control {
	background-color: #303030;
	color: #fff;
	display: block;
	width: 100%;
	padding: 0.5em 0.5em 0.5em 0.7em;
	margin: 0;
	border-top: 1px solid #666;
}
.accordion-panel {
	display: none;
}

.accordion-panel p {
	margin: 20px;
}

.accordion-panel img {
	display: block;
	clear: left;
}

/* Tab Panels */
.tab-list {
	margin: 0;
	padding: 0;
}

.tab-list li {
	display: inline-block;
	list-style-type: none;
	background-color: #303030;
	border-bottom: 3px solid #858585;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.tab-list li a {
	color: #f2f2f2;
	display: block;
	padding: 3px 10px 3px 10px;
}

.tab-list li.active, .tab-list li.hover {
	background-color: #e5e5e5;
	border-bottom: 3px solid #e5e5e5;
}

.tab-list li.active a, .tab-list li a:hover {
	color: #666;
	background-color: #e5e5e5;
}

.tab-panel {
	display: none;
	background-color: #e5e5e5;
	color: #666;
	min-height: 150px;
	overflow: auto;
}

.tab-panel.active {
	display: block;
}

.tab-panel p {
	margin: 20px;
}

/* Modal */

.modal {
	position: absolute;
	z-index: 1000;
	padding: 50px;
	background-color: #555;
}

.modal-close {
	cursor: pointer;
}

#window {
	background: $fff;
	text-align: center;
}

.social {
	color: #858585;
}

#share {
	text-align: center;
	top: 10px;
	left: 10px;
}

#share-options {
	background-color: #e5e5e5;
	text-align: center;
	clear: both;
	padding 15px;
	color: #666666;
	border: 10px solid white;
}

#message {
	display: inline-block;
	margin: 15px 0 15px 0;
}

#links a {
	display: inline-block;
	margin: 0 12px 8px 12px !important;
}

#window a {
	margin: 3px;
}

button.modal-close {
	background-color: #ed8e6c;
	color: $ffffff;
	border: none;
	border-radius: 4px;
	padding: 7px 10px 9px 10px;
	margin: 10px 0 0 0;
	float: right;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

button.modal-close:hover {
	background-color: #ed612f;
}

/* Photo Viewer */

#photo-viewer {
	position: relative;
	height: 300px;
	overflow: hidden;
}

#photo-viewer.is-loading:after {
	content: url(img/load.gif);
	position: absolute;
	top: 0;
	right: 0;
}

#photo-viewer img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
}

#thumbnails {
	margin: 10px 5px 0 0;
	height: 60px;
} 

a.active {
	opacity: 0.3;
}

.gallery {
	width: 400px;
	padding: 20px;
	float: left;
}

.description {
	width: 180px;
	float: right;
	padding: 20px 20px 0 0;
	font-size: 85%;
	line-height: 1em;
}

.standfirst {
	margin: 0;
}

/* Slider */

.slider {
	max-width: 940px;
	margin: 0px auto 30px auto;
}

.slide-viewer {
	position: relative;
	overflow: hidden;
	height: 430px;
}

.slide-group {
	width: 100%;
	height: 100%;
	position: relative;
}

.slide {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
}

.slide:first-child {
	display: block;
}

.slide-buttons {
	text-align: center;
}

.slide-btn {
	border: none;
	background: none;
	color: #000;
	font-size: 200%;
	line-height: 0.5em;
}

.slide-btn.active, .slide-btn:hover {
	color: #ed8e6c;
	cursor: pointer;
}